@CHARSET "ISO-8859-1";

.header, .footer .side, .footer .wleft {
		display: none;
	}
	
.footer {
	width:139px;
	height:106px;
	background: url('/images/footer.jpg');
	margin:auto;
}

.page {
	margin:10px auto;
	}