@primary:#53777A;			/* Bright BLue 	*/
@primary_clear:#79ACAF;	/* Clear Blue 	*/
@primary_dark:#344A4C;		/* Dark Blue 		*/
@primary_bold:#79ACAF;

@accent:#F9C834;			/* Bright Yellow	*/
@accent_clear:#e4b456;		/* Clear Yellow		*/
@accent_dark:#d19c39;		/* Dark Yellow 		*/

@base: #C02942;				/* Bright Red 		*/
@base_clear: #C1475A;		/* Clear Red 		*/
@base_dark: #992637;		/* Dark Red 		*/

@clear: #ffffff;				/* White */
@clear_dark:#a9a9a9;		/* Clear Gray		*/
@dark:#000000;				/* Black */
@dark_clear:#364c55;		/* Dark Gray		*/
@bubble:#FFFFFF;
@tweet_msg:#E85B3D;
@dark_back:#192026;

@media only screen and (max-width: 240px) {  
  .page {
    width:230px;
    max-width:230px;
    padding:5px !important;
    margin: 0px auto !important;
  }
  .message .tweet {
    width:190px !important;
    max-width:190px !important;
  }
  h1 {  
    clear:left;
  }
}

body {
	color: @dark;
	background: @clear_dark url('/images/background.png');
	font-family: 'Droid Sans', sans-serif;
	padding:0px;
	margin:0px;
}

code {
	font-family: 'Droid Sans Mono', sans-serif;
}

a {
	color: @base;
	text-decoration: none;
	font-weight: bolder;
	&:hover {
		color: @base_clear;
	}
}

.page {
	max-width:960px;
	margin:0px auto;
	padding:10px;
	position:relative;
	background: @clear;
	}

.home { 
  min-height:520px;
  .side {
    margin: 0px;
    min-height:520px;
    z-index:1;
    
    img {
      margin-left:10px;
      margin-bottom:5px;
      margin-right:auto;
    }
  }
  .intro {
    width:700px;
    float:left;
	  h2 {
  	  color:#E75A3C;
	    font-size:45px;
	  }
	 
    p {
	    color:#666;
	    font-size:14px;
	  }
	  span {
      display:block;
  		width:70px;
		  float:left;
		  padding:0px 15px;
		  height:120px;
		  border-right:1px solid #AAA;
		  position:relative;
		  .thumb {
			  max-width:64px;
			  max-height:64px;
			  position:absolute;
			  top:0px;
			  bottom:0px;
			  margin:auto;
			  vertical-align:middle;
			}
    }
    ul {
  	  list-style:none;
	    
      li {
    	  float:left;
	      width:300px;
	      border:solid #AAA 1px;
	      border-radius:5px;
	      display:block;
    	  height:120px;
	      margin:10px;
	      font-size:11px;
	      position:relative;
	      
        strong {
	      	position: absolute;
		      left: 110px;
		      top: 20px;
		    }
	  	  p {
    	  	font-size: 11px;
		      position: absolute;
		      top: 0px;
		      left: 100px;
		      bottom: 0px;
		      margin: 35px 0px;
      		vertical-align: middle;
	      	display: table;
		      width: 180px;
		      padding: 10px;
	  	  }
	    }
	  }
  }
}

.top_campaign_supporters {
  clear:both;
  
  .avatars {      
    .avatar {
      position:relative;
      float: left;
      display:block;
      width: 48px;
      height:48px;
      margin: 2px;
      
      img.profile_img{
        display:block;
        width: 48px;
        height:48px;
        z-index:0;
      }      
      img.klout_icon {
        position:absolute;
        display:block;
        left:0px;
        bottom:0px;
        z-index:2;
      }
      span {
        position:absolute;
        display:block;
        font-size:9px;
        text-align:right;
        padding: 1px 1px 1px 19px;
        height:12px;
        background: white;
        color: black;
        left:0px;
        bottom:0px;
        z-index:1;
      }
    }
  }
}

.side {
  width:200px;
  float:right;
  height:100%;
  background:@primary_bold;
  color:@clear;
  position: absolute;
  right:0px;
  top:0px;
  margin:0px;
  a {color: @accent; }
  
  p {
    margin-top: 10px;
    font-size: 20px;
    a {
      font-size:30px;
      font-weight:normal;
    }
    span {
     	font-size:10px;
     	float: left;
	    width: 80%;
	    padding:0px 10%;
	    text-align:center;
    }
  }
 }

.footer {
	margin: 0px -10px -10px -10px;
	text-align: center;
	position:relative;
	z-index:3;
	.clr;
	.wleft {
		position:relative;
	  width:750px;
	  float: left;
		background: @primary;
		color: @clear;
		height:100px;
		text-align:center;
		span {
			position: absolute;
			bottom: 10px;
			left:0px;
			width:750px;
		}	
	}
}
.outside {
  height: 100px;
  display: block;
  background:@primary;
  position: relative;
  z-index: 2;
}

.addthis_toolbox {
	float:right;
	width:220px;
	padding:10px;
	margin-top:10px;
}

.header {
	color: @clear;
	background: @dark_back url('/images/crowd_banner.jpg');
  height:128px;
	margin:-10px;
	padding: 10px;
  border:1px solid @dark_back;
	font-family: 'Lato', sans-serif;
	position:relative;
	z-index:10;
	
	a {
		color: @accent;
		&:hover {
			color: @accent_clear;
		}
		
	}
	h1 {
		width:181px;
		height:75px;
		float:left;
		margin:-10px 0px 20px -10px;
		a {
			display: block;
			width: 181px;
			height: 88px;
			text-indent:-10000px;
			margin: 10px;
		}
	}
	.tlogin {
    background: @dark_back;
    height:128px;
    width:151px;
    margin:-10px;
    margin-left:-181px;
    padding:10px;
		float:left;		
		text-align:center;
		line-height:250%;
	}
}
.support_campaign_div a {
	  margin:10px 20px;
	  float:right;
	  .myButton;
	  &:hover {
	  	.myButton_hover;
	  }
}
.campaign_logo {
	display:block;
	float: left;
	margin: 0px 10px 10px 0px;
}
.head-campaign {
	width:100%;
	background:#fff;
	broder-radius:10px;
}
.content {
	margin-top:10px;
	padding: 0px 0px 20px 0px;
}
.head-campaign h1 {
	margin:0px;
}
.description { width:100% }

.message {
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
	
	box-shadow: 3px 3px 5px #CCCCCC;
	border: solid 1px #CCCCCC;
	background: #EEEEEE;
	margin:10px 0px 10px;
	padding:5px;
	
	.tweet {
		font-size:20px;
		font-weight:bold;
		float:left;
		margin:8px;
		word-wrap: break-word;
		padding:10px;
		width:96%;
		color:@dark;
		background-color:@bubble;		
		border-radius:7px;
		text-shadow: 0px 0px 2px #white;
		position:relative;
		height:70px;
		
		&:before {  
	    content: ' ';  
	    position: absolute;  
		  width: 0;  
		  height: 0;  
			right: 30px;  
			top: 88px;  
			border: 15px solid;  
			border-color: @bubble @bubble transparent transparent;  
		}  
		a {
			color:@base;
			text-shadow: 0px 0px 2px #FFD;
			&:hover {
				color: @base_clear;
			}
		}
	}
	.help {
		text-align:right;
		font-size: small;
		color: @primary_dark;
		margin-top: -15px;
	}
	.top_supporters {
		clear:left;
		float: left;
		font-size: small;
		line-height:200%;
		margin: 0px 0px;
		padding-bottom:20px;
		height:50px;
		display:block;
		img {
		  width:32px;
		  height:32px;
		}
		
		a.avatar {
		  -webkit-transition: all 0.5s ease-out;
		  -moz-transition: all 0.5s ease-out;
		  -o-transition: all 0.5s ease-out;
		  position:relative;
		  margin:1px;
		  top:10px;
		  opacity:0.5;
		  &:hover {
			  opacity:1;
			  top:0px;
			}
		}
	}
	
	
	.buttons {
		float:right;
		width:400px;
		text-align:right;
		margin-top:20px;
		.join_button {
			.myBlueButton;
			//color: @clear;
			margin:0px 5px;
			//background-color: @primary_dark;
			&:hover {
				.myBlueButton_hover;
			}
		}
		.remove {
			/*color: @clear_dark;
			background-color: #EEE;*/
			.myGreyButton;
			
			&:hover {
				/*color:@clear;
				background-color: @clear_dark;*/
				.myGreyButton_hover;
			}
		}
		
		.tweet_button {
			.myButton;
			margin:0px 5px;
		}	
		.active {
			color: @clear;
		  background-color: @base;
		  &:hover{
		  	background-color: @base_clear;
		  }
		}
		.clicked {
			.myGreyButton;
		}
	}
}

.clr {
	clear:both;
}

.messages.hidden {
	display:none;
}
.messages {
	.clr;
}
#toggle-messages {
	float:right;
	margin:-10px 20px 10px 0px;
	a {
		.mySmallButton;
		&:hover{
			.mySmallButton_hover;
		}
	}
}


.button {
		/*display: inline-block;*/
		width: 183px;
		padding:5px;
		
		box-shadow: 3px 3px 5px #AAAAAA;
		font-size:12px;
		font-weight:bold;
		text-transform: uppercase;
		font-weight: bold;
		font-family: 'Lato', sans-serif;
		
		text-decoration: none;
		text-align:center;
		
		-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.myButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
	box-shadow: inset 0px 1px 0px 0px #f29c93;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background: -moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color: #fe1a00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d83526;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding:6px 24px;
	text-decoration: none;
	text-shadow:1px 1px 0px #b23e35;
}
.myButton_hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}
.myButton_active {
	position:relative;
	top:1px;
}

.myBlueButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}
.myBlueButton_hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
.myBlueButton{
	position:relative;
	top:1px;
}

.myGreyButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.myGreyButton_hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.mySmallButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.mySmallButton_hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

